<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    UsersName <input type="text" name="usersName"> 
  </div>
  <div>
    Gmail <input type="text" name="Gmail"> 
  </div>
  <div>
    Password <input type="text" name="Password"> 
  </div>
  <button onclick="submitRegister()">Register</button>
  <button type="button" onclick="window.location.href='{{ url_for('index.index') }}';">Back</button>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
  <script>
  </script>
</body>
</html>
#####